<!DOCTYPE html>
<html>
  <head>
    <title>Distro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <meta property="og:title" content=Distro />
    <meta property="og:image" content=<%= image_url('Distro-snippet.png')%> />
    <meta property="og:Description" content="Fullstack Ruby on Rails/React/Redux Discord clone utilizing Websockets/TCP connections for seamless party chat with large groups." />
    <meta property="og:url" content="http://distroo.herokuapp.com/" />


    

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="icon" type="image/png" href="<%= image_url('logo.png')%>" />


    <script src="https://use.fontawesome.com/c92565d95d.js"></script>

    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>

    <script type="text/javascript">
    window.splash = "<%= image_url('distro_splash.png')%>"
    </script>
  </head>


  <body>
    <%= yield %>
  </body>
</html>
